<footer class="footer bg-dark mt-auto">
    <div class="container py-3">
        <span class="text-light">&copy; YelpCamp 
            <script type="text/javascript">
                var year = new Date();
                document.write(year.getFullYear());
            </script>
        </span>
    </div>
</footer>